
a       { color: MediumOrchid; }
.queer  { color: MediumOrchid; }
.ending { color: olive; }

input {
	width: 70%;
	font-size: 100%;
	border: 1px solid #cccccc;
	border-radius:7px;
	padding: 0.5%;
	margin:  0.5%;
} 

input:focus {
	outline: none;
	text-shadow: 0px 0px 0px rgba(42,42,42,.75);
	box-shadow:  0px 0px 7px 0px rgba(176,104,176,.75);
}

button {
	width: 20%;
	color: #14396A !important;
	font-family: helvetica;
	font-size: 100%;
	padding: 0.6%;
	border: 0px;
	-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	background: #3CB0FD;
}

button:hover {
	color: #14396A !important;
	background: #38A0E4;
}

#title, #suffix {
	cursor: pointer;
}

#suffix {
	display: none;
}

#definition {
	padding: 1%;
	width: 50%;
	margin: 0 auto;
}

#definition h1 {
	color: #7c795d;
	font-family: 'Trocchi', serif;
	font-size: 250%;
	font-weight: normal;
	line-height: 200%;
	margin: 0;
}

#definition-help {
	text-align: justify;
	margin-top: -32% !important;
}

#definition-dict {
	text-align: center;
	font-size: 110%;
	height: 20px;
	margin: 3% 0;
}

#definition-image {
	width: 50%;
	margin: 0 auto;
	padding: 1.5%;
	width: 400px;
	background-color: white;
}

#definition-card {
	border-top: solid 3px;
	border-bottom: solid 3px;
	border-color: MediumOrchid;
	height: 220px;
	width: 400px;
}

#definition-card h1 {
	position: relative;
	text-align: right;
	margin: 52.5% 5% 0 0;
	height: 10%;
	line-height: 120%;
	color: MediumOrchid;
	font-size: 103%;
	font-style: italic;
	font-weight: bold;
}

#definition-card h1 span{
	background-color: white;
	padding: 0 2%;
}

#definition-content {
	color: black;
	position: relative;
	margin-top: -38%;
	font-family: sans-serif;
	font-size: 250%;
	text-align: center;
	visibility: visible;
}

#definition-full {
	font-size: 100%;
	height: 60px;
	margin-top: 5%;
}

.toolbar, .toolbar:visited {
	font-size: 180%;
	opacity: 0.3;
	color: MediumOrchid;
	text-decoration: none;
	margin: 0 1px 0 0;
}

.toolbar:hover {
	opacity: 1;
}

@media screen and (max-device-width: 1000px) {
	input  { font-size:90%; }
	button { font-size: 80%; width: 25%; }

	#definition-full { height: 80px; margin-top: 40px; }
}

@media screen and (max-device-width: 800px) {
	#definition              { width: 90%; }
	#definition h1           { font-size: 150%; }
	#definition-help         { font-size: 95%; }
	#definition-card h1      { line-height: 65%; }
	#definition-card h1 span { font-size: 60%; }
}

@media screen and (max-device-width: 500px) {
	#definition              { width: 95%; }
	#definition h1           { font-size: 150%; }
	#definition-help         { font-size: 90%; }
	#definition-card         { width: 330px; }
	#definition-image        { width: 330px; }
	#definition-card h1      { line-height: 375%; }
	#definition-card h1 span { font-size: 60%; }
}

